02-6_segments_clc_supervision_exactextract_fixed2.r
03-1-RF-segs_commented.r
03-2_RF-segs.R
040_RF_model_building_BURGWALD_sperro_tuning_predict.r
040_RF_model_building_BURGWALD_strict40_segmentbased.r
040_RF_model_building_BURGWALD_strict40_segmentbased_upstreamCLC3.r
segmentation-meta.md
